#mypc {
    width: 100%;
    height: auto;
    padding: 100px;
    transition: 0.3s ease-in-out;
    background-color: #2d2e33;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#mypc h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 200%;
    margin-bottom: 1rem;
    color: #fff;
}

#mypc p {
    font-size: 1.2rem;
    font-weight: 500;
    color: rgba(206, 206, 206, 0.872);
    line-height: 200%;
}

.pcs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.pcs-card {
    width: 250px;
    height: 100%;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: #555555;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pcs .pcs-card img {
    width: 200px;
    height: auto;
    border-radius: 5px;

}

#mypc .texts {
    width: 100%;
}

#mypc .texts h1 {
    font-size: 1rem;
    line-height: 200%;
    margin-bottom: 1rem;
    color: #fff;
}

#mypc .texts p {
    font-size: 1.2rem;
    line-height: 0;
    margin-bottom: 1rem;
    color: #fff;
    font-weight: bold;
}

#mypc .pcs-card button {
    margin-top: 1rem;
    width: 100%;
    padding: 0.8rem;
    border-radius: 0.4rem;
    background-color: #000;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 700;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: #0e0e0e;

        color: #fff;
    }
}

@media (max-width:768px) {
    #mypc {
        padding: 30px;
    }

    .pcs-card {
        width: 100%;

    }
}