#home {
    width: 100%;
    padding: 100px;
    transition: 0.3s ease-in-out;
    background-color: #2d2e33;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#home h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 200%;
    margin-bottom: 1rem;
    color: #fff;
}

#home p {
    font-size: 1.2rem;
    font-weight: 500;
    color: rgba(206, 206, 206, 0.872);
    line-height: 200%;
}



@media (max-width:768px) {
    #home {
        padding: 30px;
    }
}