.sidebar {
    position: absolute;
    width: 80px;
    height: 100vh;
    overflow: hidden;
    display: inline-block;
    background-color: #0e0e0e;
    color: #fff;
    backdrop-filter: blur(50px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: width 0.3s ease-in-out;
    z-index: 999;

    &:hover {
        width: 300px;
    }
}

.sidebar-items {
    padding: 0.5rem;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
}

.profile {
    margin-bottom: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.profile img {
    border-radius: 50%;
}

.profile span {
    font-weight: bold;
    font-size: 16px;

}

.sidebar-item {
    position: relative;
    padding: 0.8rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    transition: background-color 0.2s;
    border-left: 3px solid transparent;
    cursor: pointer;

    &:hover {
        background-color: #2d2e3369;
        border-radius: 0.4rem;
    }
}

.sidebar-item button {
    background-color: #2d2e33;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 0.3rem;
    border-radius: 0.4rem;
}

a {
    color: #fff;
    font-size: 1rem;

    text-decoration: none;
}

@media (max-width:768px) {
    .sidebar {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 10vh;

        display: flex;
        flex-direction: row;
        align-items: center;

        &:hover {
            width: 100%;
        }
    }

    .sidebar-items {
        width: 100%;
        display: flex;
        flex-direction: row;

    }

    .profile {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0;
        margin-bottom: 0;
        padding: 0;
    }

    .sidebar-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0;
        margin-bottom: 0;
        padding: 0;

        &:hover {
            background-color: transparent;
            border: none;
        }
    }
}