@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font: 1rem 'Inter', sans-serif;
}

body {
    background-color: #2d2e33;
}

.grid {
    max-width: 1100px;
    margin: 0 auto;
}

@media (max-width:768px) {
    .grid {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}